.main {
    height: 455px;
    width: 980px;
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    float: left;
    width: 721px;
    height: 455px;
}

.newsflash {
    float: right;
    width: 250px;
    height: 455px;


}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news .title {
    position: relative;
    height: 34px;
    width: 100%;
    line-height: 34px;
    border-bottom: 1px dotted #e4e4e4;
}

.news .title h4 {
    float: left;
    font-size: 14px;
    color: #7d7d7d;
    margin-left: 18px;
    font-weight: 400;
}

.news .title a {
    float: right;
    font-size: 12px;
    color: #7d7d7d;
    margin-right: 30px;
}

.news .title a::after {
    position: absolute;
    top: 1px;
    right: 15px;
    content: '\e920';
    font-family: 'icomoon';
    color: #7d7d7d;

}

.news ul li {
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    margin-left: 12px;
    /* 省略溢出部分 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    overflow: hidden;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    height: 71px;
    width: 63px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    margin-top: 12px;
    display: inline-block;
    width: 24px;
    height: 28px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}

.bargain {
    margin-top: 5px;
}


/* 推荐部分 */
.recom {
    margin-top: 10px;
    height: 163px;
}

.recom .recom-hd {
    float: left;
    height: 163px;
    width: 207px;
}

.recom .recom-bd {
    float: right;
    height: 163px;
    width: 993px;
    background-color: #ebebeb;
}

.recom .recom-bd ul {
    width: 1000px;
}

.recom .recom-bd ul li {
    position: relative;
    float: left;
    width: 250px;
    height: 163px;
    line-height: 163px;
}

.recom .recom-bd ul li img {
    padding: 0 30px;
    background-image: no-repeat;
}

.recom-bd ul li:nth-child(-n+3):after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

.electronics {
    height: 505px;
    /* background-color: pink; */
}

.electronics .box_hd {
    height: 60px;
    border-bottom: 2px solid #c81623;
    padding-top: 30px;
}

.electronics .box_hd h4 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.electronics .box_hd .tab_list {
    float: right;
    margin-right: 15px;
}

.electronics .box_hd .tab_list ul li {
    float: left;
}

.electronics .box_hd .tab_list ul li i {
    padding: 0 15px;
}

.electronics .box_bd {
    height: 361px;
    /* background-color: purple; */
}

.tab_list_item>div {
    float: left;
    height: 361px;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}

.col_210 ul {
    margin-left: 15px;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
    font-size: 12px;
}

.col_210 a img {
    margin-top: 28px;
}

.col_329 {
    width: 329px;
    background-color: #aed6d8;
}

.col_329 a img {
    margin-top: 36px;
    margin-left: 30px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
    height: 361px;
}

.col_221 a img:first-child {
    margin-top: 24px;
    margin-left: 18px;
}

.col_221 a img:nth-child(2) {
    margin-top: 21px;
    margin-left: 18px;
}

.col_221 .m {
    margin-top: 70px;
    margin-left: 0px;
    padding-bottom: 32.5px;
    width: 221px;
}

.col_219 {
    width: 219px;
}

.col_219 a img {
    margin-top: 23px;
    margin-left: 20px;
}

.bb {
    display: block;
    border-bottom: 1px solid #ccc;
}